* {
  /*outline: 1px dotted orange;*/
  font-family: 'Spectral', serif;
}

body {
  margin: 0 auto;
  min-width: 900px;
}

img {
  padding: 70px 0px 0px 0px;
  width: 25%;
  float: left;
  display: inline;
}

table {
  border-collapse: collapse;
  width: 73%;

}

table, th, td {
   border: 1px solid black;
   padding: 5px;
   text-align: left;

}

h1 {
  text-align: center;
}
/*.sidebar {
  color: red;
  display: inline;
  margin: 20px 0px 0px -200px;
}

aside {
}

article {
  display: inline-block;
  float: right;
  width: 25%;
  text-align: justify;
}

h2 {
  text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
}

p {
  text-align: justify;
}
