* {
   /*outline: 1px dotted orange;*/
  font-family: 'Spectral', serif;
}

body {
  margin: 0 auto;
  width: 100%;
  background: url("https://68.media.tumblr.com/d4d56057313bf094e2f782d4e259d0d5/tumblr_orgkanuPAG1qc2hsoo1_540.jpg");
  background-repeat: no-repeat;
  background-position: 0px 100px;
  background-size: 25%;
  min-width: 1099px;
}

 table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  float: right;
  margin-bottom: 100px;
}

table, th, td {
   border: 1px solid black;
   padding: 5px;
   text-align: left;
}

fieldset {
  width: 73.5%;
  margin: 0 auto;
  text-align: center;
  float: right;
  font-size: 13px;
  margin: 50px 0px 25px 0px;
}

legend {
  font-size: 20px;
}

.logo {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  float: right;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  position: relative;
}

h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
}

h2:before {
  background: salmon;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h2:before {
  left: 0;
}

.title {
  margin: 100px 0px 0px 0px;
}

#pat {
  margin: 0px 0px -30px 0px;
}

#favorite {
  margin: -15px 0px 0px 0px;
}

h1 {
  font-family: 'Rochester', serif;
  font-size: 150px;
  position: relative;
}

.locations {
  width: 75%;
  margin: 100px 0px 0px 0px;
  text-align: center;
  float: right;
}

article {
  display: inline-block;
  min-width: 19.5%;
  border-right: 1px solid black;
}

h3 {
  margin-top: -30px;
  font-size: 20px;
  letter-spacing: 1px;
}

.garbage {
  width: 75%;
  margin: 100px 0px 0px 0px;
  text-align: center;
  float: right;
  display: inline-block;
}
.slides {
  height: 175px;
  width: 200px;
  margin: 0 auto;
}

.people {
  width: 75%;
  margin: 0px 0px 70px 0px;
  display: inline-block;
  width: 400px;
  margin: 0 auto;
  float: left;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  position: relative;
}

h4 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
}

h4:before {
  background: salmon;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h4:before {
  left: 0;
}

.family p {
  display: inline-block;
  overflow: auto;
  width: 400px;
  text-align: justify;
}

.fishfish {
  width: 75%;
  margin: 0 auto;
  float: right;
  display: inline-block;
}

.familyfish {
  width: 100px;
  margin-left: 150px;
  margin-bottom: 20px
}


h5 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 5px;
  position: relative;
}

h5 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
}

h5:before {
  background: salmon;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h5:before {
  left: 0;
}
footer {
  margin-top: 100px;
}
